### 連接Heroku【方法一】

In [ ]:
import os
import psycopg2

# get database url
DATABASE_URL = os.popen(
    'heroku config:get DATABASE_URL -a justgo-linebot').read()[:-1]

# connect database
conn = psycopg2.connect(DATABASE_URL, sslmode='require')
cursor = conn.cursor()

# test connection
print('Connect Successfully!!')

### 連接Heroku【方法二】

In [ ]:
import psycopg2 as ps

def database_connect():
    #connect heroku postgresql
    conn = ps.connect(host="ec2-3-218-71-191.compute-1.amazonaws.com",
                      user="pauvcxweyckeaf",
                      password="115d8ec87368c3b65453a2d2988a7cbfd8bcb7db61f75afbd35b4519b152e3f7",
                      database="d5251933te7fta",
                      port="5432")
    return conn

#     if conn is not None:
#         cursor = conn.cursor()
#         conn.commit()# commit the changes
        
#         flag = print('True')
# #         print("Database opened successfully!!")
#         return flag
#     else:
#         flag = print('False')
# #         print("Database opened unsuccessfully!!")
#         return flag

# if __name__ == '__main__':
#     database_connect()

# test connection
# print(conn)

In [ ]:
database_connect()

### Create 5 tables：member, publish, order_m, order_d, order_cancel

In [ ]:
# create table - member：8
SQL_table_member = '''
    CREATE TABLE member (
        student_id varchar(8) NOT NULL,
        line_id varchar(255) NOT NULL,
        name varchar(20) NOT NULL,
        depart varchar(20) NOT NULL,
        sex varchar(1) NOT NULL,
        password varchar(255) NOT NULL,
        credit_index integer NOT NULL,
        cancel_times integer NOT NULL
    );
'''
cursor.execute(SQL_table_member)
conn.commit()


print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'member'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)

y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('student_id', 'character varying')
('line_id', 'character varying')
('name', 'character varying')
('depart', 'character varying')
('sex', 'character varying')
('password', 'character varying')
('credit_index', 'integer')
('cancel_times', 'integer')
student_id, line_id, name, depart, sex, password, credit_index, cancel_times

In [ ]:
# create table - publish_m：4
SQL_table_publish_m = '''
    CREATE TABLE publish_m (
        pub_id varchar(12) NOT NULL,
        pub_start varchar(80) NOT NULL,
        pub_end varchar(80) NOT NULL,
        pub_date timestamptz DEFAULT CURRENT_TIMESTAMP NOT NULL
    );
'''
cursor.execute(SQL_table_publish_m)
conn.commit()

print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'publish_m'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)
    
y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('pub_id', 'character varying')
('pub_start', 'character varying')
('pub_end', 'character varying')
('pub_date', 'timestamp with time zone')
pub_id, pub_start, pub_end, pub_date

In [ ]:
# create table - publish_d：7
SQL_table_publish_d = '''
    CREATE TABLE publish_d (
        pub_d_id SERIAL NOT NULL,
        pub_id varchar(12) NOT NULL,
        student_id varchar(8) NOT NULL,
        preference varchar(20),
        board_people varchar(10) NOT NULL,
        boarding_time timestamptz NOT NULL,
        pub_condition varchar(20) NOT NULL
    );
'''
cursor.execute(SQL_table_publish_d)
conn.commit()

print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'publish_d'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)
    
y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('pub_d_id', 'integer')
('pub_id', 'character varying')
('student_id', 'character varying')
('preference', 'character varying')
('board_people', 'character varying')
('boarding_time', 'timestamp with time zone')
('pub_condition', 'character varying')
pub_d_id, pub_id, student_id, preference, board_people, boarding_time, pub_condition

In [ ]:
# create table - order_m：8
SQL_table_order_m = '''
    CREATE TABLE order_m (
        order_id varchar(11) NOT NULL,
        pub_id varchar(12) NOT NULL,
        car_dealer varchar(20) NOT NULL,
        car_number varchar(10) NOT NULL,
        board_start varchar(80) NOT NULL,
        board_end varchar(80) NOT NULL,
        total_fare integer NOT NULL,
        order_date timestamptz DEFAULT CURRENT_TIMESTAMP NOT NULL
    );
'''
cursor.execute(SQL_table_order_m)
conn.commit()

print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'order_m'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)
    
y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('order_id', 'character varying')
('pub_id', 'character varying')
('car_dealer', 'character varying')
('car_number', 'character varying')
('board_start', 'character varying')
('board_end', 'character varying')
('total_fare', 'integer')
('order_date', 'timestamp with time zone')
order_id, pub_id, car_dealer, car_number, board_start, board_end, total_fare, order_date

In [ ]:
# create table - order_d：8
SQL_table_order_d = '''
    CREATE TABLE order_d (
        order_d_id varchar(14) NOT NULL,
        order_id varchar(11) NOT NULL,
        student_id varchar(8) NOT NULL,
        preference varchar(20),
        board_people varchar(20) NOT NULL,
        real_pay integer NOT NULL,
        boarding_time timestamptz NOT NULL,
        order_condition varchar(20) NOT NULL
    );
'''
cursor.execute(SQL_table_order_d)
conn.commit()

print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'order_d'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)
    
y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('order_d_id', 'character varying')
('order_id', 'character varying')
('student_id', 'character varying')
('preference', 'character varying')
('board_people', 'character varying')
('real_pay', 'integer')
('boarding_time', 'timestamp with time zone')
('order_condition', 'character varying')
order_d_id, order_id, student_id, preference, board_people, real_pay, boarding_time, order_condition

In [ ]:
# create table - order_cancel：5
SQL_table_order_cancel = '''
    CREATE TABLE order_cancel (
        order_cancel SERIAL NOT NULL,
        order_d_id varchar(14) NOT NULL,
        order_id varchar(11) NOT NULL,
        student_id varchar(8) NOT NULL,
        cancel_date timestamptz DEFAULT CURRENT_TIMESTAMP NOT NULL
    );
'''
cursor.execute(SQL_table_order_cancel)
conn.commit()

print('CREATE TABLE Successfully!!')

CREATE TABLE Successfully!!

In [ ]:
cursor.execute("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'order_cancel'")
data = []
while True:
    temp = cursor.fetchone()
    if temp:
        data.append(temp)
    else:
        break
for i in data:
    print(i)

y = []
for k in data:
    y.append(k[0])
    x = ', '.join(y)
#     print(k[0])
print(x)

('order_cancel', 'integer')
('order_d_id', 'character varying')
('order_id', 'character varying')
('student_id', 'character varying')
('cancel_date', 'timestamp with time zone')
order_cancel, order_d_id, order_id, student_id, cancel_date

### Add PK & FK

In [ ]:
add_key = '''
    ALTER TABLE member ADD PRIMARY KEY (student_id);
    ALTER TABLE publish_m ADD PRIMARY KEY (pub_id);
    ALTER TABLE publish_d ADD PRIMARY KEY (pub_d_id);
    ALTER TABLE publish_d ADD FOREIGN KEY (pub_id) REFERENCES publish_m (pub_id);
    ALTER TABLE publish_d ADD FOREIGN KEY (student_id) REFERENCES member (student_id);
    ALTER TABLE order_m ADD PRIMARY KEY (order_id);
    ALTER TABLE order_m ADD FOREIGN KEY (pub_id) REFERENCES publish_m (pub_id);
    ALTER TABLE order_d ADD PRIMARY KEY (order_d_id);
    ALTER TABLE order_d ADD FOREIGN KEY (order_id) REFERENCES order_m (order_id);
    ALTER TABLE order_d ADD FOREIGN KEY (student_id) REFERENCES member (student_id);
    ALTER TABLE order_cancel ADD FOREIGN KEY (order_d_id) REFERENCES order_d (order_d_id);
    ALTER TABLE order_cancel ADD FOREIGN KEY (order_id) REFERENCES order_m (order_id);
    ALTER TABLE order_cancel ADD FOREIGN KEY (student_id) REFERENCES member (student_id);
'''
cursor.execute(add_key)
conn.commit()
print('Add Key Successfully!!')

Add Key Successfully!!

### Insert Test Data

In [ ]:
# test data for member
test_data = [('05153255', 'Ubc01f6c2b0bf323b0c4fbfe382d0e34c', '洪鈺姍', '企延B', 'F', 'P05153255', '8', '0'),
             ('07170181', 'U521915c89cf38a071f7d9c61454a4234', '柳映萱', '巨資三A', 'F', 'P07170181', '9', '0'),
             ('09170101', 'U904b5e2b9657c18b34097fb89a3731cf', '劉語萱', '巨資一A', 'F', 'P09170101', '3', '0'),
             ('09170109', 'U2716fe753b6e593f43869f1f08ae7be5', '陳柏尹', '巨資一A', 'F', 'P09170109', '5', '0'),
             ('09170131', 'U0b7c9d483a2832b52d89e7d6f8820284', '廖曉珺', '巨資一A', 'F', 'P09170131', '7', '0')]
            
table_columns = '(student_id, line_id, name, depart, sex, password, credit_index, cancel_times)'
SQL_insert = f"""INSERT INTO member {table_columns} VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""

cursor.executemany(SQL_insert, test_data)
conn.commit()

count = cursor.rowcount
print(count, "testdata inserted successfully!!")

5 testdata inserted successfully!!

In [ ]:
# test data for pulish_m
test_data = [('P20210515001', '捷運士林站', '東吳大學外雙溪校區', '2021-05-15 13:00:00+08'),
             ('P20210515002', '捷運士林站', '東吳大學外雙溪校區', '2021-05-15 14:00:00+08'),
             ('P20210515003', '捷運士林站', '捷運劍南路站', '2021-05-15 15:30:00+08'),
             ('P20210520001', '捷運劍南路站', '東吳大學外雙溪校區', '2021-05-20 09:13:45+08'),
             ('P20210520002', '捷運士林站', '東吳大學城中校區', '2021-05-20 10:25:50+08'),
             ('P20210523001', '捷運劍南路站', '東吳大學外雙溪校區', '2021-05-23 14:10:07+08'),
             ('P20210523002', '東吳大學城中校區', '東吳大學外雙溪校區', '2021-05-23 16:20:56+08'),
             ('P20210523003', '捷運士林站', '捷運劍南路站', '2021-05-23 19:11:22+08'),
             ('P20210523004', '捷運劍南路站', '東吳大學外雙溪校區', '2021-05-23 21:34:56+08'),
             ('P20210529001', '捷運士林站', '東吳大學城中校區', '2021-05-29 08:50:06+08'),
             ('P20210530001', '捷運劍南路站', '東吳大學城中校區', '2021-05-30 11:45:32+08'),
             ('P20210530002', '東吳大學城中校區', '捷運士林站', '2021-05-30 13:23:46+08'),
             ('P20210530003', '東吳大學外雙溪校區', '捷運士林站', '2021-05-30 13:28:50+08'),
             ('P20210530004', '東吳大學外雙溪校區', '東吳大學城中校區', '2021-05-30 19:44:05+08'),
             ('P20210531001', '捷運劍南路站', '東吳大學城中校區', '2021-05-31 13:15:13+08'),
             ('P20210601001', '捷運士林站', '東吳大學外雙溪校區', '2021-06-01 03:45:20+08')]
            
table_columns = '(pub_id, pub_start, pub_end, pub_date)'
SQL_insert = f"""INSERT INTO publish_m {table_columns} VALUES (%s, %s, %s, %s);"""

cursor.executemany(SQL_insert, test_data)
conn.commit()

count = cursor.rowcount
print(count, "testdata inserted successfully!!")

16 testdata inserted successfully!!

In [ ]:
# test data for publish_d
'''total = 9+11+3+6+9=38
05153255 洪鈺姍 8(9-1) |
07170181 柳映萱 9(11-2) |
09170101 劉語萱 3(3-0) |
09170109 陳柏尹 5(6-1) |
09170131 廖曉珺 7(9-2) |
'''
test_data = [('P20210515001', '05153255', '安靜&限同性', '發起', '2021-05-15 18:00:00+08', '刊登完成'),
             ('P20210515001', '07170181', '安靜&限同性', '共乘', '2021-05-15 18:00:00+08', '共乘完成'),
             ('P20210515001', '09170101', '安靜&限同性', '共乘', '2021-05-15 18:00:00+08', '共乘完成'), 
             ('P20210515002', '09170131', '安靜&無菸', '發起', '2021-05-15 18:30:00+08', '刊登完成'),
             ('P20210515002', '05153255', '安靜&無菸', '共乘', '2021-05-15 18:30:00+08', '共乘完成'),
             ('P20210515003', '07170181', '安靜', '發起', '2021-05-15 15:50:00+08', '刊登完成'),
             ('P20210515003', '09170131', '安靜', '共乘', '2021-05-15 15:50:00+08', '共乘完成'),
             ('P20210520001', '05153255', '限同性', '發起', '2021-05-20 11:25:50+08', '刊登完成'),
             ('P20210520002', '09170109', '無菸', '發起', '2021-05-20 10:35:50+08', '刊登完成'),
             ('P20210520002', '05153255', '無菸', '共乘', '2021-05-20 10:35:50+08', '共乘失敗'),
             ('P20210520002', '09170101', '無菸', '共乘', '2021-05-20 10:35:50+08', '共乘完成'),
             ('P20210523001', '05153255', '安靜&無菸&限同性', '發起', '2021-05-23 15:10:05+08', '刊登完成'),
             ('P20210523001', '07170181', '安靜&無菸&限同性', '共乘', '2021-05-23 15:10:05+08', '共乘失敗'),
             ('P20210523002', '09170101', '安靜', '發起', '2021-05-23 16:25:56+08', '刊登完成'),
             ('P20210523002', '05153255', '安靜', '共乘', '2021-05-23 16:25:56+08', '共乘完成'),
             ('P20210523002', '09170131', '安靜', '共乘', '2021-05-23 16:25:56+08', '共乘失敗'),
             ('P20210523003', '09170131', '限同姓', '發起', '2021-05-23 19:20:22+08', '刊登完成'),
             ('P20210523004', '07170181', '安靜&無菸&限同性', '發起', '2021-05-23 22:30:56+08', '刊登失敗'),
             ('P20210523004', '09170109', '安靜&無菸&限同性', '發起', '2021-05-23 22:30:56+08', '刊登完成'),
             ('P20210529001', '09170131', '無菸', '發起', '2021-05-29 08:55:06+08', '刊登完成'),
             ('P20210529001', '07170181', '無菸', '共乘', '2021-05-29 08:55:06+08', '共乘完成'),
             ('P20210529001', '09170109', '無菸', '共乘', '2021-05-29 08:55:06+08', '共乘完成'),
             ('P20210530001', '09170131', '安靜', '發起', '2021-05-30 12:45:32+08', '刊登完成'),
             ('P20210530001', '07170181', '安靜', '共乘', '2021-05-30 12:45:32+08', '共乘完成'),
             ('P20210530002', '09170109', '無菸&限同性', '發起', '2021-05-30 13:50:46+08', '刊登完成'),
             ('P20210530002', '05153255', '無菸&限同性', '共乘', '2021-05-30 13:50:46+08', '共乘完成'),
             ('P20210530002', '07170181', '無菸&限同性', '共乘', '2021-05-30 13:50:46+08', '共乘完成'),
             ('P20210530003', '07170181', '限同性', '發起', '2021-05-30 14:35:50+08', '刊登完成'),
             ('P20210530003', '09170131', '限同性', '共乘', '2021-05-30 13:35:50+08', '共乘完成'),
             ('P20210530004', '05153255', '無菸', '發起', '2021-05-30 21:00:00+08', '刊登完成'),
             ('P20210530004', '09170109', '無菸', '共乘', '2021-05-30 21:00:00+08', '共乘失敗'),
             ('P20210530004', '09170131', '無菸', '共乘', '2021-05-30 21:00:00+08', '共乘完成'),
             ('P20210530004', '07170181', '無菸', '共乘', '2021-05-30 21:00:00+08', '共乘完成'),
             ('P20210531001', '09170131', '安靜&限同性', '發起', '2021-05-31 13:30:00+08', '刊登失敗'), 
             ('P20210531001', '07170181', '安靜&限同性', '發起', '2021-05-31 13:30:00+08', '刊登中'),
             ('P20210531001', '09170109', '安靜&限同性', '共乘', '2021-05-31 13:30:00+08', '預備共乘中'),
             ('P20210531001', '05153255', '安靜&限同性', '共乘', '2021-05-31 13:30:00+08', '預備共乘中'),
             ('P20210601001', '07170181', '安靜&無菸&限同性', '發起', '2021-06-01 22:45:00+08', '刊登中')]
            

table_columns = '(pub_id, student_id, preference, board_people, boarding_time, pub_condition)'

SQL_insert = f"""INSERT INTO publish_d {table_columns} VALUES (%s, %s, %s, %s, %s, %s);"""
cursor.executemany(SQL_insert, test_data)
conn.commit()

count = cursor.rowcount
print(count, "testdata inserted successfully!!")

38 testdata inserted successfully!!

In [ ]:
# test data for order_m
test_data = [('20210515001', 'P20210515001', '臺灣大車隊', 'TDG-8587', '捷運士林站', '東吳大學外雙溪校區', '135', '2021-05-15 13:30:00+08'),
             ('20210515002', 'P20210515002', '大都會衛星車隊', 'TDG-8513', '捷運士林站', '東吳大學外雙溪校區', '110', '2021-05-15 14:00:00+08'),
             ('20210515003', 'P20210515003', 'Uber', '333-3D', '捷運士林站', '捷運劍南路站', '195', '2021-05-15 15:30:00+08'),
             ('20210520001', 'P20210520001', '大都會衛星車隊', 'TEF-5678', '捷運劍南路站', '東吳大學外雙溪校區', '155', '2021-05-20 09:13:45+08'),
             ('20210520002', 'P20210520002', '臺灣大車隊', 'TAC-3456', '捷運士林站', '東吳大學城中校區', '300', '2021-05-20 10:25:50+08'),
             ('20210523001', 'P20210523001', '臺灣大車隊', 'TDG-0987', '捷運劍南路站', '東吳大學外雙溪校區', '140', '2021-05-23 14:10:07+08'),
             ('20210523002', 'P20210523002', 'Uber', '678-K8', '東吳大學城中校區', '東吳大學外雙溪校區', '335', '2021-05-23 16:20:56+08'),
             ('20210523003', 'P20210523003', '大都會衛星車隊', 'TDS-9802', '捷運士林站', '捷運劍南路站', '185', '2021-05-23 19:11:22+08'),
             ('20210523004', 'P20210523004', 'Uber', 'TDP-7788', '捷運劍南路站', '東吳大學外雙溪校區', '155', '2021-05-23 21:34:56+08'),
             ('20210529001', 'P20210529001', '路邊攔車', 'TDA-3209', '捷運士林站', '東吳大學城中校區', '310', '2021-05-29 08:50:06+08'),
             ('20210530001', 'P20210530001', '臺灣大車隊', 'TDD-4567', '捷運劍南路站', '東吳大學城中校區', '305', '2021-05-30 11:45:32+08'),
             ('20210530002', 'P20210530002', '臺灣大車隊', '168-8E', '東吳大學城中校區', '捷運士林站', '290', '2021-05-30 13:23:46+08'),
             ('20210530003', 'P20210530003', 'LINE TAXI', 'TDR-9230', '東吳大學外雙溪校區', '捷運士林站', '120', '2021-05-30 13:28:50+08'),
             ('20210530004', 'P20210530004', 'LINE TAXI', 'TDA-3398', '東吳大學外雙溪校區', '東吳大學城中校區', '0', '2021-05-30 19:44:05+08')]
            
table_columns = '(order_id, pub_id, car_dealer, car_number, board_start, board_end, total_fare, order_date)'
SQL_insert = f"""INSERT INTO order_m {table_columns} VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""

cursor.executemany(SQL_insert, test_data)
conn.commit()

count = cursor.rowcount
print(count, "testdata inserted successfully!!")

14 testdata inserted successfully!!

In [ ]:
# test data for order_d
'''total = 9+11+3+6+9=38
05153255 洪鈺姍 8(9-1) |
07170181 柳映萱 9(11-2) |
09170101 劉語萱 3(3-0) |
09170109 陳柏尹 5(6-1) |
09170131 廖曉珺 7(9-2) |
'''
test_data = [('20210515001001', '20210515001', '05153255', '安靜&限同性', '發起', '45', '2021-05-15 18:00:00+08', '訂單完成'),
             ('20210515001002', '20210515001', '07170181', '安靜&限同性', '共乘', '45', '2021-05-15 18:00:00+08', '訂單完成'),
             ('20210515001003', '20210515001', '09170101', '安靜&限同性', '共乘', '45', '2021-05-15 18:00:00+08', '訂單完成'),
             ('20210515002001', '20210515002', '09170131', '安靜&無菸', '發起', '55', '2021-05-15 18:30:00+08', '訂單完成'),
             ('20210515002002', '20210515002', '05153255', '安靜&無菸', '共乘', '55', '2021-05-15 18:30:00+08', '訂單完成'),
             ('20210515003001', '20210515003', '07170181', '安靜', '發起', '97', '2021-05-15 15:50:00+08', '訂單完成'),
             ('20210515003002', '20210515003', '09170131', '安靜', '共乘', '98', '2021-05-15 15:50:00+08', '訂單完成'),
             ('20210520001001', '20210520001', '05153255', '限同性', '發起', '155', '2021-05-20 11:25:50+08', '訂單完成'),
             ('20210520002001', '20210520002', '09170109', '無菸', '發起', '150', '2021-05-20 10:35:50+08', '訂單完成'),
             ('20210520002002', '20210520002', '09170101', '無菸', '共乘', '150', '2021-05-20 10:35:50+08', '訂單完成'),
             ('20210523001001', '20210523001', '05153255', '安靜&無菸&限同性', '發起', '140', '2021-05-23 15:10:05+08', '訂單完成'),
             ('20210523002001', '20210523002', '09170101', '安靜', '發起', '167', '2021-05-23 16:25:56+08', '訂單完成'),
             ('20210523002002', '20210523002', '05153255', '安靜', '共乘', '168', '2021-05-23 16:25:56+08', '訂單完成'),
             ('20210523003001', '20210523003', '09170131', '限同性', '發起', '185', '2021-05-23 19:20:22+08', '訂單完成'),
             ('20210523004001', '20210523004', '09170109', '安靜&無菸&限同性', '發起', '155', '2021-05-23 22:30:56+08', '訂單完成'),
             ('20210529001001', '20210529001', '09170131', '無菸', '發起', '104', '2021-05-29 08:55:06+08', '訂單完成'),
             ('20210529001002', '20210529001', '07170181', '無菸', '共乘', '103', '2021-05-29 08:55:06+08', '訂單完成'),
             ('20210529001003', '20210529001', '09170109', '無菸', '共乘', '103', '2021-05-29 08:55:06+08', '訂單完成'),
             ('20210530001001', '20210530001', '09170131', '安靜', '發起', '152', '2021-05-30 12:45:32+08', '訂單完成'),
             ('20210530001002', '20210530001', '07170181', '安靜', '共乘', '153', '2021-05-30 12:45:32+08', '訂單完成'),
             ('20210530002001', '20210530002', '09170109', '無菸&限同性', '發起', '96', '2021-05-30 13:50:46+08', '訂單完成'),
             ('20210530002002', '20210530002', '05153255', '無菸&限同性', '共乘', '97', '2021-05-30 13:50:46+08', '訂單完成'),
             ('20210530002003', '20210530002', '07170181', '無菸&限同性', '共乘', '97', '2021-05-30 13:50:46+08', '訂單完成'),
             ('20210530003001', '20210530003', '07170181', '限同性', '發起', '60', '2021-05-30 14:35:50+08', '訂單完成'),
             ('20210530003002', '20210530003', '09170131', '限同性', '共乘', '60', '2021-05-30 13:35:50+08', '訂單完成'),
             ('20210530004001', '20210530004', '05153255', '無菸', '發起', '0', '2021-05-30 21:00:00+08', '乘車中'),
             ('20210530004002', '20210530004', '09170131', '無菸', '共乘', '0', '2021-05-30 21:00:00+08', '乘車中'),
             ('20210530004003', '20210530004', '07170181', '無菸', '共乘', '0', '2021-05-30 21:00:00+08', '乘車中')]
            

table_columns = '(order_d_id, order_id, student_id, preference, board_people, real_pay, boarding_time, order_condition)'

SQL_insert = f"""INSERT INTO order_d {table_columns} VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""
cursor.executemany(SQL_insert, test_data)
conn.commit()

count = cursor.rowcount
print(count, "testdata inserted successfully!!")

28 testdata inserted successfully!!

In [ ]:
delete_table = '''DROP TABLE IF EXISTS member'''
cursor.execute(delete_table)
conn.commit()

print('DELETE TABLE Successfully!!')

DELETE TABLE Successfully!!

In [ ]:
conn.close()

In [ ]:
conn.commit()

InterfaceError: connection already closed